@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.Draws.FinalDrawViewModel

@{
    ViewBag.Title = "Bewerk bericht naar deelnemers";
}

<h2>Bewerk hier uw bericht naar de deelnemers en reserves</h2>

<form asp-action="StartFinalDrawPhase" asp-route-panelId="@Model.PanelId" method="post">
    <input type="hidden" asp-for="PanelId" />

    <div class="mb-3">
        <label asp-for="SelectedSubject" class="form-label">Onderwerp</label>
        <input type="text" asp-for="SelectedSubject" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label asp-for="SelectedMessage" class="form-label">Bericht aan geselecteerde panelleden</label>
        <textarea asp-for="SelectedMessage" class="form-control" rows="4">@Model.SelectedMessage</textarea>
    </div>

    <div class="mb-3">
        <label asp-for="ReserveSubject" class="form-label">Onderwerp</label>
        <input type="text" asp-for="ReserveSubject" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ReserveMessage" class="form-label">Bericht aan reserve panelleden</label>
        <textarea asp-for="ReserveMessage" class="form-control" rows="4" >@Model.ReserveMessage</textarea>
    </div>

    <div class="mb-3">
        <label asp-for="NotSelectedSubject" class="form-label">Onderwerp</label>
        <input type="text" asp-for="NotSelectedSubject" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="NotSelectedMessage" class="form-label">Bericht aan niet geselecteerde panelleden</label>
        <textarea asp-for="NotSelectedMessage" class="form-control" rows="4" >@Model.NotSelectedMessage</textarea>
    </div>

    <button type="submit" class="btn btn-success">Bevestig berichten</button>
</form>