@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.Draws.ReserveMailModel

@{
    ViewBag.Title = "Reserve leden";
}

<h2>Reserve leden</h2>

<table class="reg-overview-table table-striped">
    <thead>
    <tr>
        <th>Email</th>
        <th>Selectie bevestigen?</th>
    </tr>
    </thead>
    <tbody id="reservesTableBody">

    </tbody>
</table>

<div class="message-edit-form-container">
    <form id="inviteForm" method="post" asp-action="SendInvitations">
        <fieldset class="space-y-6 mb-8 pb-6 border-b border-gray-200">
            <legend class="text-xl font-semibold text-gray-700 mb-4">Bericht aan extra geselecteerden</legend>
            <div class="auth-form-group">
                <label asp-for="Subject" class="auth-form-label">Onderwerp</label>
                <input type="text" asp-for="Subject" class="auth-input-field" required/>
                <span asp-validation-for="Subject" class="auth-validation-message"></span>
            </div>

            <div class="auth-form-group">
                <label asp-for="Message" class="auth-form-label">Bericht</label>
                <textarea asp-for="Message" class="auth-input-field" rows="5">@Model.Message required</textarea>
                <span asp-validation-for="Message" class="auth-validation-message"></span>
            </div>
        </fieldset>

        <input type="hidden" id="panel-id" asp-for="PanelId"/>
        <input type="hidden" id="selectedInvitationIds" asp-for="SelectedInvitationIds"/>

        <button type="submit" class="btn btn-primary">Verstuur uitnodigingen</button>
    </form>
</div>

@section Scripts {
    <script type="module" src="~/dist/clientapp/assets/reserveMembers.js" asp-append-version="true"></script>
}