@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CitizenPanel.BL.Domain.Panels.Meeting>

@{
    ViewData["Title"] = "Recommendations";
    string currentUser =
        User.IsInRole("Organization") ? "Organization" :
        User.IsInRole("Member") ? "Member" : "";
}

<h1>Panel-aanbevelingen</h1>
<h2 id="active-header">Actieve aanbevelingen</h2>
<input type="hidden" id="panel-id" data-panel-id="@Model.FirstOrDefault()?.PanelId" />
<input type="hidden" id="current-user-id" data-user-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
<input type="hidden" id="current-user-role" value="@currentUser"/>

<div id="active-body" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
</div>
<h2 id="not-active-header" class="hidden">Afgesloten aanbevelingen</h2>
<div id="not-active-body" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
</div>


<div id="votersModal" class="member-reg-modal-overlay hidden" aria-labelledby="votersModalLabel" aria-hidden="true">
    <div class="member-reg-modal-dialog modal-dialog-scrollable max-w-lg">
        <div class="member-reg-modal-header">
            <h5 class="member-reg-modal-title" id="votersModalLabel">Stemmers voor Aanbeveling</h5>
        </div>
        <div class="member-reg-modal-body" id="votersModalBody">
            Laden...
        </div>
        <div class="member-reg-modal-footer">
            <button type="button" class="member-reg-modal-button-confirm" id="closeModal">Sluiten</button>
        </div>
    </div>
</div>

<div id="confirmationModal" class="member-reg-modal-overlay hidden" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="member-reg-modal-dialog">
        <div class="member-reg-modal-header">
            <h5 class="member-reg-modal-title" id="confirmationModalLabel">Bevestiging</h5>
        </div>
        <div class="member-reg-modal-body">
            <p>Weet u zeker dat het stemmen wilt stoppen?</p>
        </div>
        <div class="member-reg-modal-footer">
            <button type="button" class="member-reg-modal-button-confirm" id="stopVotingBtn">Stop de stemming</button>
            <button type="button" class="member-reg-modal-button-cancel" id="cancel-stop-voting">Even wachten</button>
        </div>
    </div>
</div>

@section Scripts {
    <!--<script type="module" src="~/dist/clientapp/assets/endVote.js"></script>
    <script type="module" src="~/dist/clientapp/assets/votersModalLoader.js"></script>
    <script type="module" src="~/dist/clientapp/assets/vote.js"></script>-->
    <script type="module" src="~/dist/clientapp/assets/loadRecommendations.js"></script>
}