@using CitizenPanel.BL.Domain.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.QuestionnaireModules.QuestionnaireSelectViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "Platformbeheer";
    var user = await UserManager.GetUserAsync(User);
    var isSuper = user?.IsSuper == true;
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

<div class="admin-platform-container">
    <h2 class="admin-platform-title">@ViewBag.Title</h2>

    <div class="admin-platform-actions-card">
        <div class="admin-platform-actions-list">
            @if (isSuper)
            {
                <a asp-page="/Account/RegisterAdmin" asp-area="Identity" class="btn btn-primary">
                    <i class="fas fa-user-shield mr-2"></i> Voeg nieuwe admin toe
                </a>
                <a asp-action="ManageAdmins" class="btn btn-primary">
                    <i class="fas fa-user-shield mr-2"></i> Adminbeheer
                </a>
            }

            <a asp-action="ManageOrganizations" class="btn btn-primary">
                <i class="fas fa-user-shield mr-2"></i> Organisatiebeheer
            </a>

            @if (Model.Questionnaires != null && Model.Questionnaires.Any())
            {
                @foreach (var questionnaire in @Model.Questionnaires)
                {
                    <a asp-controller="Admin" asp-action="EditQuestionnaire" asp-route-questionnaireId="@questionnaire.Id" class="btn btn-primary">
                        <i class="fas fa-edit mr-2"></i> Bewerk vragenlijst: @questionnaire.Title
                    </a>
                }
            }
            else
            {
                <p class="text-center text-gray-500">Er zijn geen vragenlijsten beschikbaar om te bewerken.</p>
            }
        </div>
    </div>
</div>

<div id="deleteConfirmationModal" class="member-reg-modal-overlay hidden" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="member-reg-modal-dialog">
        <div class="member-reg-modal-header">
            <h5 class="member-reg-modal-title" id="deleteConfirmationModalLabel">Bevestiging verwijderen</h5>
        </div>
        <div class="member-reg-modal-body">
            <p>Weet u zeker dat u dit wilt verwijderen?</p>
        </div>
        <div class="member-reg-modal-footer">
            <button type="button" class="member-reg-modal-button-cancel" id="cancelDelete">Annuleren</button>
            <button type="button" class="member-reg-modal-button-confirm" id="confirmDelete">Verwijderen</button>
        </div>
    </div>
</div>