@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.QuestionnaireModules.QuestionnaireSelectViewModel

@{
    ViewBag.Title = "Platformbeheer";
}

<h2>Platformbeheer</h2>

<a asp-page="/Account/RegisterAdmin" asp-area="Identity" class="btn btn-primary">
    Voeg nieuwe admin toe
</a>

@foreach (var questionnaire in @Model.Questionnaires)
{
    <a asp-controller="Admin" asp-action="EditQuestionnaire" asp-route-questionnaireId="@questionnaire.Id" class="btn btn-primary">
        Bewerk vragenlijst @questionnaire.Title
    </a>
}