@model CitizenPanel.UI.MVC.Models.DTO.MemberDto

@{
    ViewBag.Title = "Registreer als een panelmember";
    Layout = "_Layout";
}

<h2>Aanmelden voor een panel</h2>
<form asp-controller="MemberRegister" asp-action="RegisterMember" method="get">
    <div class="form-group">
        <label asp-for="Code">Code</label>
        <input asp-for="Code" class="form-control" placeholder="Code"/>
    </div>
    <input type="submit" value="Register"/>
</form>
