@{
    ViewBag.Title = "Registreer als een panellid"; 
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

<div class="auth-page-wrapper">
    <div class="auth-card-container">
        <h2 class="member-reg-title mb-6 text-center">Aanmelden voor een panel</h2>

        <form asp-controller="MemberRegister" asp-action="RegisterMember" method="get">
            <div class="member-reg-form-group">
                <label for="code" class="auth-form-label">Vul uw uitnodigingscode in</label>
                <input name="code" id="code" class="auth-input-field" placeholder="Code"/>
            </div>
            <button type="submit" class="auth-submit-button mt-6">Verder</button>
        </form>
    </div>
</div>