@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.DTO.MemberDto

@{
    ViewBag.Title = "Aanmelden voor panel";
}

<h2>Wilt u zich aanmelden voor het burgerpanel?</h2>

<form asp-controller="MemberRegister" asp-action="RegisterMember" method="get">
    <input type="hidden" asp-for="Code" value="@Model.Code"/>
    <input type="hidden" asp-for="Email" value="@Model.Email"/>
    <button type="submit" class="btn btn-success">Ja</button>
</form>

<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Nee</a>