@using Microsoft.AspNetCore.Mvc.TagHelpers

@model CitizenPanel.UI.MVC.Models.NewMemberViewModel

@{
    ViewBag.Title = "Aanmelden";
}

<h2>Vul uw gegevens in</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="MemberRegister" asp-action="RegisterMember" method="post">
    <div>
        <label>Voornaam:</label>
        <input asp-for="FirstName" type="text" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    
    <div>
        <label>Achternaam:</label>
        <input asp-for="LastName" type="text" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label>Email:</label>
        <input asp-for="Email" type="email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>Wachtwoord:</label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label>Bevestig wachtwoord:</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div>
        <label>Geslacht:</label>
        <input asp-for="Gender" type="text" class="form-control" value="@Model.Gender.ToString()" readonly>
    </div>

    <div>
        <label>Geboortedatum:</label>
        <input asp-for="BirthDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div>
        <label>Gemeente:</label>
        <input asp-for="Town" type="text" class="form-control" value="@Model.Town" readonly>
    </div>

    <button type="submit" class="btn btn-primary">Aanmelden</button>
</form>
