@model dynamic

@{
    ViewBag.Title = "Registered";
}

<h2>Deze code is al geregistreerd. Binnenkort volgt een mail en begint de tweede loting!</h2>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ga terug naar de homepagina</a>