@{
    ViewBag.Title = "Aanmelding voltooid";
}

<h2>Uw aanmelding is voltooid en u hebt uw interesse doorgegeven om onderdeel te worden van het burgerpanel</h2>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ga terug naar de homepagina</a>
