@{
    ViewBag.Title = "Aanmelding voltooid";
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

<div class="auth-page-wrapper">
    <div class="auth-card-container text-center">
        <h2 class="member-reg-message-title">Uw aanmelding is voltooid!</h2>
        <p class="mb-6">U hebt uw interesse doorgegeven om onderdeel te worden van het burgerpanel.</p>
        <div class="member-reg-feedback-actions">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Terug naar homepagina</a>
        </div>
    </div>
</div>