@{
    ViewBag.Title = "Code is al gebruikt!";
}

<h2>Er werd reeds aangemeld met deze code!</h2>

<a class="btn btn-primary" asp-controller="MemberRegister" asp-action="Index">Kijk de code nog eens na en probeer het opnieuw</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ga terug naar de homepagina</a>