@{
    ViewBag.Title = "Code is al gebruikt!";
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/styles.css" asp-append-version="true"/>
}

<div class="auth-page-wrapper">
    <div class="auth-card-container text-center">
        <h2 class="member-reg-message-title">Er werd reeds aangemeld met deze code!</h2>
        <div class="member-reg-feedback-actions">
            <a class="btn btn-primary" asp-controller="MemberRegister" asp-action="Index">Code nakijken & opnieuw proberen</a>
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Terug naar homepagina</a>
        </div>
    </div>
</div>