@page
@model CitizenPanel.UI.MVC.Areas.Identity.Pages.Account.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Bevestig email verandering";
}

<div class="auth-page-wrapper login-wrapper-padding">
    <div class="login-card-container text-center">
        <h1 class="auth-page-title">@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>