@page
@model CitizenPanel.UI.MVC.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}

<h1>@ViewData["Title"]</h1>
<p>
    Controleer je e-mail om je wachtwoord opnieuw in te stellen.
</p>
