@page
@model CitizenPanel.UI.MVC.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}

<div class="auth-page-wrapper login-wrapper-padding">
    <div class="login-card-container">
        <h1 class="auth-page-title">@ViewData["Title"]</h1>
        <h2 class="auth-form-title">Controleer je e-mail om je wachtwoord opnieuw in te stellen.</h2>
        <hr class="auth-divider" />
        
        <div class="auth-links-section text-center">
            <a asp-page="/Account/Login">Terug naar inloggen</a>
        </div>
    </div>
</div>