@page
@model RegisterModel
@{
    ViewData["Title"] = "Registratie";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Maak een nieuw account.</h2>
        <div class="btn-group w-100">
            <button type="button" class="btn btn-lg btn-outline-primary account-type-btn active" data-type="Panelmember">Panellid</button>
            <button type="button" class="btn btn-lg btn-outline-primary account-type-btn" data-type="Organization">Organisatie</button>
        </div>
        <hr/>

        <div id="organizationFields">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
        
        <div id="panelmemberFields">
            <form id="codeForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <input type="text" asp-for="Input.Code" placeholder="Enter your code">
                <span asp-validation-for="Input.Code" class="text-danger"></span>
                <button type="submit">Registreer</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script defer src="/js/account/register.js">
</script>
}
