@page
@model CitizenPanel.UI.MVC.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Registratiebevestiging";
}

<div class="auth-page-wrapper login-wrapper-padding">
    <div class="login-card-container text-center">
        <h1 class="auth-page-title">@ViewData["Title"]</h1>

        @if (Model.DisplayConfirmAccountLink)
        {
            <p>
                Deze app heeft nog geen echte e-mailafzender geconfigureerd. Zie
                <a class="text-primary underline" href="https://aka.ms/aspaccountconf" target="_blank" rel="noopener noreferrer">
                    deze documentatie
                </a> om een echte e-mailzender toe te voegen.
                <br />
                Normaal gesproken zou dit via e-mail worden gestuurd:
                <a id="confirm-link" class="text-primary underline" href="@Model.EmailConfirmationUrl">Klik hier om je account te bevestigen</a>
            </p>
        }
        else
        {
            <p>
                Controleer je e-mail om je account te bevestigen.
            </p>
        }
    </div>
</div>