@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoord reset";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw wachtwoord is gereset. Klik <a asp-page="./Login">hier om in te loggen</a>.
</p>
