@page
@model CitizenPanel.UI.MVC.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoord reset";
}

<div class="auth-page-wrapper login-wrapper-padding">
    <div class="login-card-container text-center">
        <h1 class="auth-page-title">@ViewData["Title"]</h1>
        <p>
            Uw wachtwoord is gereset. Klik
            <a asp-page="./Login" class="text-primary underline hover:underline">hier om in te loggen</a>.
        </p>
    </div>
</div>