@{
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/index.css">
}

<div class="home-hero-section">
    <div class="home-hero-content">
        <h1 class="home-hero-title">
            Welkom
        </h1>
        <p class="home-hero-subtitle">
            Leer meer over BurgerPanels op onze website! Ontdek, deel en creëer.
        </p>
        <div class="home-hero-button-container">
            <a href="#" class="home-hero-button">
                Ontdek Panels
            </a>
        </div>
    </div>
</div>

<div class="home-info-section">
    <h2 class="home-info-title">Wat is een burgerpanel?</h2>
    <div class="home-info-grid">
        <div class="home-info-card">
            <h3 class="home-info-card-title">Kiezen voor een burgerpanel</h3>
            <p class="home-info-card-text">Zet zelf de stap om jouw organisatie aan de hand van een panel te engageren.</p>
            <a href="#" class="home-info-card-button">
                Meer informatie &rarr;
            </a>
        </div>
        <div class="home-info-card">
            <h3 class="home-info-card-title">Beginnen aan een burgerpanel?</h3>
            <p class="home-info-card-text">Kijk hier voor een eerste wegwijzer en informatie om een participatiepanel te beginnen.</p>
            <a href="#" class="home-info-card-button">
                Startgids &rarr;
            </a>
        </div>
    </div>
</div>