@page
@using CitizenPanel.BL.Domain.Tenancy
@model CitizenPanel.UI.MVC.Views.TenantTesting.IndexModel
@inject TenantContext Context;

@{
    ViewBag.Title = "title";
}

<div class="text-center">
    <h1 class="display-4">Huidige tenant @Context.Tenant.Name (@Context.Tenant.Id)</h1>
</div>
