@using CitizenPanel.BL.Domain.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="flex items-center space-x-4">
@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="text-header-text hover:text-header-text-hover" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        Hallo @UserManager.GetUserName(User)!
    </a>
    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="text-header-text hover:text-header-text-hover px-4 py-2 rounded-lg transition-colors duration-150">
            Uitloggen
        </button>
    </form>
}
else
{
    <a class="text-header-text hover:text-header-text-hover px-4 py-2 rounded-lg transition-colors duration-150" 
       id="register" asp-area="Identity" asp-page="/Account/Register">
        Registreer als organisatie
    </a>
    <a class="bg-primary hover:bg-primary-hover text-header-text px-4 py-2 rounded-lg transition-colors duration-150" 
       id="login" asp-area="Identity" asp-page="/Account/Login">
        Aanmelden
    </a>
}
</div>
