@using CitizenPanel.BL.Domain.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="flex items-center space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <a id="manage" class="login-welcome-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            Hallo @UserManager.GetUserName(User)!
        </a>
        <form id="logoutForm" class="inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="login-action-item">
                Uitloggen
            </button>
        </form>
    }
    else
    {
        <a class="login-action-item" 
           id="register" asp-area="Identity" asp-page="/Account/Register">
            Registreer als organisatie
        </a>
        <a class="btn-solid-login" 
           id="login" asp-area="Identity" asp-page="/Account/Login">
            Aanmelden
        </a>
    }
</div>