@using CitizenPanel.BL.Domain.Panels
@model IEnumerable<UserVote>

@if (Model.Any())
{
    <ul class="list-group list-group-flush">
        <p>Voor: </p>
        @foreach (var uv in Model.Where(uv => uv.Recommended))
        {
            var member = uv.Voter;
            var displayName =
                !string.IsNullOrEmpty(member.UserName)
                    ? member.UserName
                    : member.Email ?? "Onbekende gebruiker";
            <li class="list-group-item">@displayName</li>
        }
        <p>Tegen: </p>
        @foreach (var uv in Model.Where(uv => !uv.Recommended))
        {
            var member = uv.Voter;
            var displayName =
                !string.IsNullOrEmpty(member.UserName)
                    ? member.UserName
                    : member.Email ?? "Onbekende gebruiker";
            <li class="list-group-item">@displayName</li>
        }

    </ul>
}
else
{
    <div class="alert alert-info m-3" role="alert">
        Er zijn nog geen stemmen uitgebracht voor deze aanbeveling
    </div>
}