@using CitizenPanel.BL.Domain.Panels
@model IEnumerable<UserVote>

@if (Model.Any())
{
    <div class="flex gap-12">
        <div class="flex-1">
            <p class="font-bold mb-2">Voor:</p>
            <ul class="list-disc list-inside">
                @foreach (var uv in Model.Where(uv => uv.Recommended))
                {
                    var member = uv.Voter;
                    var displayName =
                        !string.IsNullOrEmpty(member.UserName)
                            ? member.UserName
                            : member.Email ?? "Onbekende gebruiker";
                    <li>@displayName</li>
                }
            </ul>
        </div>

        <div class="flex-1">
            <p class="font-bold mb-2">Tegen:</p>
            <ul class="list-disc list-inside">
                @foreach (var uv in Model.Where(uv => !uv.Recommended))
                {
                    var member = uv.Voter;
                    var displayName =
                        !string.IsNullOrEmpty(member.UserName)
                            ? member.UserName
                            : member.Email ?? "Onbekende gebruiker";
                    <li>@displayName</li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <div class="alert alert-info m-3" role="alert">
        Er zijn nog geen stemmen uitgebracht voor deze aanbeveling
    </div>
}