@model CitizenPanel.BL.Domain.Panels.Panel

@{
    ViewBag.Title = "Members";
}

<div class="draw-results-section">
    <h2 class="draw-results-group-title">Alle deelnemers</h2>
    <input type="hidden" id="panelId" value="@Model.Id" />

    <div>
        <table class="reg-overview-table table-striped">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Email</th>
                <th>Verwijder panellid?</th>
            </tr>
            </thead>
            <tbody id="memberTableBody">
            </tbody>
        </table>
    </div>
</div>

<div id="deleteConfirmationModal" class="member-reg-modal-overlay hidden" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="member-reg-modal-dialog">
        <div class="member-reg-modal-header">
            <h5 class="member-reg-modal-title" id="deleteConfirmationModalLabel">Bevestiging verwijderen</h5>
        </div>
        <div class="member-reg-modal-body">
            <p>Weet u zeker dat u dit panellid wilt verwijderen?</p>
        </div>
        <div class="member-reg-modal-footer">
            <button type="button" class="btn btn-accent" id="cancelDelete">Annuleren</button>
            <button type="button" class="btn btn-danger" id="confirmDelete">Verwijderen</button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/dist/clientapp/assets/manageMembers.js" asp-append-version="true"></script>
}
