@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CitizenPanel.UI.MVC.Models.Panels.PanelSelectViewModel

@{
    ViewData["Title"] = "Kies uw panel";
}
@section Styles {
    <link rel="stylesheet" href="~/dist/clientapp/assets/index.css" asp-append-version="true"/>
}

<div class="panel-select-page-wrapper">
    <div class="panel-select-container">
        <div class="panel-select-header">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="panel-select-body">
            <p class="panel-select-intro-text">Kies het panel wat u wil openen:</p>
            
            @if (Model.Panels != null && Model.Panels.Any())
            {
                <div class="panel-select-list">
                    @foreach (var panel in Model.Panels)
                    {
                        <a asp-action="Index" asp-route-id="@panel.Id" class="panel-select-item">
                            <div class="icon-container">
                                <i class="fas fa-folder fa-2x"></i>
                            </div>
                            <div class="text-container">
                                <h5>@panel.Name</h5>
                            </div>
                            <div class="arrow-container">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                    }
                </div>
            }
            else
            {
                <p class="text-gray-500">Er zijn geen panels beschikbaar om te selecteren.</p>
            }
        </div>
    </div>
</div>